{% extends 'main/base.html' %}
{% block registration_history_active %}active{% endblock %}
{% block content %}
<div class="content container">
    <div class="wrapper">
        <div>
            <h3>Registration History</h1>
        </div>
        <div class="resultHeader p-3" style="width: 100%; height: 150px; box-shadow: 0 0 4px 1px lightgray;">
            <img style="object-fit: cover;" class="mb-2" width="100%" height="100%" src="https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" alt="">
        </div>
        <div class="p-3">
            <form method="POST">
                {% csrf_token %}
            <div>
                <select name="year" style="padding: 0.3rem 0.5rem 0.3rem 0.5rem; border-radius: 5px; margin: 0.3rem;" name="" id="">
                    {% for course in courses %}
                    <option name="year" value="{{ course.year }}">{{course.year}}</option>
                    {% endfor %}
                </select>

                <select name="semester" style="padding: 0.3rem 0.5rem 0.3rem 0.5rem; border-radius: 5px; margin: 0.3rem;" name="" id="">
                    {% for course in courses %}
                    <option name="semester"  value="{{ course.semester }}">{{course.semester}}</option>
                    {% endfor %}
                </select>

                <input type="submit" placeholder="submit">

            </div>
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Course Code</th>
                        <th>Course Title</th>
                        <th>Credit</th>
                        <th>Total Mark</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td>{{course.id}}</td>
                        <td>{{course.course_code}}</td>
                        <td>{{course.name}}</td>
                        <td>{{course.credit}}</td>
                        <td>{{course.mark}}</td>
                        <td>{{course.Grade}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table> 
            <br>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}